<div class="container mt-5">

<h1> Wszystkie wydarzenia</h1>
<ul class="list-of-events">
  <% for event in @events %>
    <li><%= link_to event.artist, event %></li>
  <% end %>
</ul>

<button class="btn btn-default btn-lg">
<%= link_to 'Nowe ogłoszenie', new_event_path %>
</button>
</div>