<div class="container mt-5">

<h1> Wszystkie wydarzenia</h1>
<ul>
  <% for event in @events %>
    <li><%= link_to event.artist, event %></li>
  <% end %>
</ul>

<button class="btn btn-default">
<%= link_to 'Nowe ogłoszenie', new_event_path %>
</button>
</div>