<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Aplikacja biletowa "Sadowski Tickets" 🎫
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a href="/">Strona główna</a>
      </li>
      <li>
        <%= link_to 'Bilety', tickets_path %>
      </li>
      <li>
        <%= link_to 'Wydarzenia', events_path %>
      </li>
    </ul>
  </div>
</nav>
